html {
  background-color: #FFFFFF;
  box-sizing: border-box;
  text-align: center;
}

body {
  padding: 150px 0px;
  background-color: #FFFFFF;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 3.25em;
  font-weight: bold;
  margin: 15px 0px 0px;
  color: #0B3D91;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 1,25em;
  margin: 10px 0px 20px;
  color: #0B3D91;
}

#searchBar {
  width: 600px;
  background-color: #FFFFFF;
  padding: .625em 2.5em;
  display: inline-block;
  border: 1.25px solid #DFE1E4;
  border-radius: 30px;
  margin: 20px 15px;
  background-image: url('img/search.png');
  background-position: 10px 8px;
  background-size: 20px;
  background-repeat: no-repeat;
}

#searchBar:focus {
  outline: none;
  background-color: #FFFFFF;
  box-shadow: 0 2px 4px #C8C8C8;
}

#searchBar:hover{
  box-shadow: 0 2px 4px #C8C8C8;
}

#searchBar::-webkit-input-placeholder {
    color: #CDCDCD;
    font-family: 'Helvetica', sans-serif;
}

#logo {
  width: 400px;
  height: auto;
}
